

body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:rgb(255, 251, 251);
    }
section{
    height:100%;
    width:100%;
    position:absolute ;  
    background:#11ffee00;
    }
.leaf{
        position:absolute ;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
.leaf div{
    position:absolute ;
    display: block;
    }
.leaf div:nth-child(1){
        left:20%; 
        animation:fall 15s linear infinite ;
        animation-delay:-2s;
    
    }
.leaf div:nth-child(2){
        left:70%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
.leaf div:nth-child(3){
        left:10%; 
        animation:fall 20s linear infinite ;
        animation-delay:-7s;
        
    }
.leaf div:nth-child(4){
        left:50%; 
       animation:fall 18s linear infinite ; 
       animation-delay:-5s;
    }
.leaf div:nth-child(5){
        left:85%; 
        animation:fall 14s linear infinite ;
        animation-delay:-5s;
    }
.leaf div:nth-child(6){
        left:15%; 
        animation:fall 16s linear infinite ;
        animation-delay:-10s;
    }
.leaf div:nth-child(7){
        left:90%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    
@keyframes fall{
        0%{
            opacity:1;
            top:-10%;
            transform:translateX (20px) rotate(0deg);
        }
        20%{
            opacity:0.8;
            transform:translateX (-20px) rotate(45deg);
        }
        40%{
    
            transform:translateX (-20px) rotate(90deg);
        }
        60%{
            
           transform:translateX (-20px) rotate(135deg); 
        }
        80%{
        
            transform:translateX (-20px) rotate(180deg);
        }
        100%{
            
            top:110%;
            transform:translateX (-20px) rotate(225deg);
        }
        }
.leaf1{
        transform: rotateX(180deg);
      }

 .h2,p{
     
        display: block;
        justify-content: space-around;
        border: #8c6239;
        margin-top:100%;
       color:#8c6239;
       
       }
       
@import url(https://fonts.googleapis.com/css?family=Courier-new:400,700);

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li, a {
    margin: 30px 0 -30px 0;
    color: #ffff;
    font: 14pt "adobe garamond pro", sans-serif;
    font-weight: 500;
    line-height: 2;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 200px;
    text-indent: 56px;}
a:focus {
    display: block;
    color: rgb(107, 105, 105);
    background-color: #eee;
    transition: all .5s;
}
aside {
    position: absolute;
    color: #8c6239;
    top:5%;
    right: 26%;
    text-align: center;
    /* Animation-name : fade ;
    Animation-delay : 1s;
    Animation-duration : 8s;
    Animation-iteration-count : infinite;
     */
}
h1 {
    line-height: 0;
    font-size: 4vw;
    font-weight: 500;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    font-family: 'adobe garamond pro', sans-serif;
    /*overflow: hidden;*/
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: white;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height:110px;
    background-color:#d6ae85;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}


 img {
  width: 150px;
  display: right;
}

.shadowbox {
    width: 10em;
    border: 1px solid #8c6239;
    box-shadow: 8px 3px 3px #d6ae85;
    padding: 10px 40px;
    background-image: color(180deg,#d6ae85);
    box-sizing: content-box;
    width: 50%; 
    height: 30%;  
    margin-top:10%; 
  }

